body {
    background-color: rgb(28, 28, 142);
    background-size: cover;
    height: 1400px;
    width: 100%;
}

header {
    color: white;
    text-align: center;
    padding: 10px;
    background-color: lightgray;
    font-size: 30px;
}

h1 {
    color: white;
    display: flex;
    justify-content: center;
}

#search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    background: rgba(5, 5, 5, 0.5);
}

button {
    margin-left: 5px;
}

#results {
    width: 75%;
    display: inline-block;
}

#results li {
    font-size: large;
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    color: black;
    justify-content: center;
}

#results ul {
    background: lightgray;
    border-radius: 10px;
    width: auto;
    padding: 50px;
    margin-left: 4rem;
    margin-right: 4rem;
    padding-bottom: 20px;
    justify-content: center;
    
}
